@font-face {
    font-family: "Bungee Shade";
    src: url("fonts/Bungee_Shade/BungeeShade-Regular.ttf")
    }
#container {text-align: center;}
body, p, h1 {
    margin: 0;
    padding: 0;
    }

.sidebar {
    text-align: center;
    background-image: url(imgs/bar2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f9bcec;
    
    }
h1 {
    font-family: "Bungee Shade", monospace;
    font-size: 6.5vw;
    color: #faf7e7; 
    
    }
.header_2 {
    font-family: monospace;
    font-size: 3vw;
    color: #faf7e7;
    }
.timestamp {
    text-align: left;
    margin: 40px;
    font-family: monospace;
    font-size: 35px;
    }
.bio {
    display: inline-block;
    text-align: left;
    margin: 80px;
    font-size: 25px;
    font-family: serif;
    max-width: 750px;
    }
bios { 
    text-align: center;}
img {width: 40%;
    max-width: 750px;
    height: auto;
}
.images {
  
    display: inline-block;}
.flowerimages img{
    width: 10%;
    max-width: 400px;
    display: inline-block;
}
.flowerimages2 img {
    width: 10%;
    max-width: 400px;
    display: inline-block;
    margin: 0 0 100px;
}




@media only screen and (max-width: 600px){
    .body-text{
        font-size: 18px;
        letter-spacing: 0px;
    }
    }