@font-face {
    font-family: "Beth Ellen";
    src: url("fonts/Beth_Ellen/BethEllen-Regular.ttf")
    }
#container {text-align: center;}
body, p, h1 {
    margin: 0;
    padding: 0;
    }

.sidebar {
    text-align: center;
    background-image: url(imgs/bar2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f9bcec;
    
    }
a:link {text-decoration: none;}
h1 {
    font-family: "Beth Ellen", cursive;
    font-size: 6.5vw;
    color: #faf7e7; 
    
    }
.header_2 {
    font-family: monospace;
    font-size: 3vw;
    color: #faf7e7;
    }
.timestamp {
    color: #faf7e7;
    font-size: 35px;
    background-image: url(imgs/bar2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f9bcec;
    }
.bio {
    display: inline-block;
    text-align: left;
    margin: 80px;
    font-size: 25px;
    font-family: serif;
    max-width: 500px;
    }
bios { 
    text-align: center;}
img {width: 30%;
    max-width: 650px;
    height: auto;
    }
.images {
    display: inline-block;
    }
.flowerimages img{
    width: 10%;
    max-width: 400px;
    display: inline-block;
    margin: 100px 0 0;
    }
.flowerimages2 img {
    width: 10%;
    max-width: 400px;
    display: inline-block;
    margin: 0 0 100px;
    }




@media only screen and (max-width: 600px){
    .body-text{
        font-size: 18px;
        letter-spacing: 0px;
    }
    }