@font-face {
    font-family: "VT323";
    src: url("fonts/VT323/VT323-Regular.ttf");
    }
@font-face {font-family: "IBM Plex Mono";
    src: url("fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf")}
body {background-color: #1a221a;
    margin: 200px;
    }
.title {
        font-family:  VT323, monospace;
        font-size: 50px;
        color: #668e58;
}
.instructions {
        font-family: IBM Plex Mono, monospace;
        color: #4b7b4e;
    
    float: left;
    text-align: left;
}
h2 {font-family: VT323, monospace;
    font-size: 40px;
    color: #668e58;
    padding-top: 40px;}
.instructions p {
        font-size: 24px;
    float: left;
}

a:link {font-family:monospace;
    font-size: 36px;
    color: #4b7b4e;
        text-decoration: none;
     }
a:visited {color: #668e58;
        text-decoration: none;}
a:hover {color: #4b7b4e;
        text-decoration: underline;}
.button {
  background-color: #0a221a;
  border-color: #0a221a;
  padding: 40px 60px 40px 60px;
    text-align: center;
 
}

#center {max-width: 1200px;
        margin-left: auto;
        margin-right: auto;}
#text {
    
}

img { width: 1000px;
        }