body, p, h1, ul {
    margin: 0;
    padding: 0;
    }
p {font-family: monospace;
    color: #554141;
    background-color: #cc7b65;
    width: 10%;
    font-size: 15vw;
    float: left;
}
#getyear{
    font-family: monospace;
    font-size: 15vw;
    width: 50%;
    color: #cc7b65;
    text-align: center;
    float: left;
    }
#getmonth{
    font-family: monospace;
    color: #cc7b65;
    width: 50%;
    font-size: 15vw;
    text-align: center;
    float: left;}

#getday{
    font-family: monospace;
    color: #cc7b65;
    width: 10%;
    font-size: 15vw;
    text-align: center;
    float: left;
}
#gethour {
    font-family: monospace;
    color: #E6A4AF;
    width: 10%;
    font-size: 15vw;
    text-align: center;
    float: left;
}
#getminute{
    font-family: monospace;
    font-size: 15vw;
    color: #E6A4AF;
    width: 50%;
    text-align: center;
    float: left;
}
#getsecond{
    font-family: monospace;
    font-size: 15vw;
    color: #E6A4AF;
    width: 50%;
    text-align: center;
    float: left;
}
#draggable {
 width: 0%;
    
}
#draggable1 {
    width: 0%;  
}
#draggable2 {
 width: 0%;
    
}
#draggable3 {
    width: 0%;  
}
#draggable4 {
 width: 0%;
    
}
#draggable5 {
    width: 0%;  
}
#draggable6 {
 width: 0%;
    
}
#draggable7 {
    width: 0%;  
  
}
#draggable8 {
    width: 0%;  
  
}